<div>
	<form class="form-inline text-center">
		<div class="form-group">
			<label>Slot</label>
			<input type="text" class="form-control" name="itemSlot" placeholder="Chest">
		</div>
		
		<button type="button" class="btn btn-default btnAddItem">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</button>
	</form>
</div>

<div id="ItemList" class="row"></div>